name: Terraform Destroy

on:
  workflow_dispatch:

  # pull_request:
  #   branches:
  #     - main
  #     - features/*
  # push:
  #   branches:
  #     - main
  #     - features/*

permissions:
  contents: read
  id-token: write

jobs:
  terraform-destroy:
    name: "Terraform Infrastructure Destroy"
    runs-on: arc-runner-set
    environment:
      name: dev # Changed to the 'dev' environment for manual approval
      url: https://github.com/thejitenderk/COLLAB-WITH-TEAM

    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Authenticate with Azure using the service principal credentials
      - name: Azure CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # Install and configure Terraform CLI
      - name: Setup Terraform CLI
        uses: hashicorp/setup-terraform@v1

      # Initialize Terraform working directory for the 'environment/dev' folder
      - name: Terraform Init
        run: terraform -chdir=environment/dev init

      # Execute Terraform destroy to tear down infrastructure in 'environment/dev' folder
      - name: Terraform Destroy
        run: terraform -chdir=environment/dev destroy -auto-approve
